<div class="header"></div>
<div class="container-fluid">
	<form id="login_form" name="loginForm">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
			<h3>Cit Room Login</h3>
			<div class="row">
				<div class="col-md-4 col-sm-3"></div>
				<div class="col-md-4 col-sm-6">
					<div class="col-md-12 col-sm-12 ">
						<div class="alert {{json.class}}" role="alert" ng-show="json.on">
							<strong>{{json.status}}!</strong>{{json.message}}
						</div>
					</div>
					<div class="col-md-12 col-sm-12 ">
						<div class="input-group">
							<span class="input-group-addon primary">
								<span class="arrow"></span>
								<i class="fa fa-envelope"></i>
							</span>
							<input type="text" ng-model="login_form.email" name="email" class="form-control" placeholder="Email" validator="required" message-id="emaillgSubmit"/>
						</div>
						<span id="emaillgSubmit" ng-hide="login_form.checkValid(loginForm)"></span>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="input-group">
							<span class="input-group-addon primary">
								<span class="arrow"></span>
								<i class="fa fa-key"></i>
							</span>
							<input type="password" ng-model="login_form.password" name="password" class="form-control loginTB" placeholder="Password" validator="required" message-id="passwordlgSubmit"/>
						</div>
						<span id="passwordlgSubmit" ng-hide="login_form.checkValid(loginForm)"></span>
					</div>
					<div class="col-md-12 col-sm-12">
						<button ng-click="login_form.submit(loginForm)" class="btn btn-primary btn-cons pull-right btn-custom" id="login_toggle">Login</button>
					</div>
				</div>
				<div class="col-md-4 col-sm-3"></div>
			</div> 
		</div>
	</form>
</div>
<div class="footer"></div>